#gameContainer {
    text-align: center;
}

#gamePlatform {
    border: solid 3px;
}

#score {
    font-family: "consolar", monospace;
    font-size: 100px;
}

#resetButton {
    font-family: "consolar";
    font-size: 20px;
    width: 100px;
    height: 50px;
    border: solid 3px;
    border-radius: 10px;
    cursor: pointer;
}